@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #f4f4f0;
    --background: #171717;
    --primary: #ffd900;
    --secondary: #333333;
    --accent: #ffdf80;
  }
  .dark {
    --text: #fbe5f0;
    --background: #280618;
    --primary: #e76569;
    --secondary: #072c18;
    --accent: #22ddd6;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
  }

  input,
  select {
    color: #000;
  }
}
